@import "tailwindcss";

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}
.animate-bounce-slow {
  animation: bounce-slow 4s ease-in-out infinite;
}

.text-white-glow {
  text-shadow:
    0 1px 2px rgba(255, 255, 255, 0.9),
    0 2px 6px rgba(255, 255, 255, 0.7);
}

.text-white-glow-hover:hover {
  text-shadow:
    0 2px 4px rgba(255, 255, 255, 1),
    0 4px 10px rgba(255, 255, 255, 0.9);
}

